body{
	background-color: #eee;
	font-family: arial;	
	margin: 0;
}
header{
	text-align: center;
	margin: 0;
	color: #fff;
}
header h1, header p{	
	display: block;
	margin: 0;
	padding: 15px;
}
header h1{
	background-color: #244985; 	
}
header p{
	background-color: #3062b3; 
	border-bottom: 5px solid #689bed;
}
address{
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 100%;	
	color: #fff;
	border-top: 5px solid #689bed;
}
#written{
	margin: 0;
	padding: 10px 5%;
	background-color: #3062b3;
}
#para{
	margin: 0px;
	padding: 10px 5%;
	background-color: #244985;
}
#tab{
	padding-left:20px;
}
