*{
	font-family: 'Recursive', sans-serif;
	color: #2c2c54;
	text-align: center;

	margin: 0;
}
body{
	margin: 0;
}
header{
	background: #ffda79;	

	height: 300px;
	padding: 0 30px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;	
}
#header{	
	font-weight: 900;
	margin-bottom: 10px;
	font-size: 50px;
}
#subheader{
	font-size: 25px;
}

footer{
	background-color: #ff5252;
	padding: 85px 0; 
	font-size: 20px;

}
#info {
	text-indent: 30px;
	margin: 10px 0;
}
#name{
	font-size: 30px;
}
b{
	font-family: 'Oleo Script Swash Caps', cursive;
}


h2{
	background-color: #ffda79;

	font-size: 70px;
	padding: 20px 0;
	font-family: 'Oleo Script Swash Caps', cursive;
}

.projects{
	display: flex;
	flex-direction: column;
}
.items{
	padding: 20px;
	font-size: 20px;
}
.items:nth-child(odd){
	background-color: #f7f1e3;	
}
.items:nth-child(even){
	background-color: #d1ccc0;
}









